:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: #24252d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 1.2vw;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

/*#app {*/
/*  max-width: 1280px;*/
/*  margin: 0 auto;*/
/*  padding: 2rem;*/
/*  text-align: center;*/
/*}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*::-webkit-scrollbar{*/
/*  scrollbar-width: thin;*/

/*}*/

/*::-webkit-scrollbar-thumb {*/
/*  background: #535bf2;*/
/*  border-radius: 10px;*/
/*}*/

.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.chat-wrapper {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 13;
  width: 100%;
  height: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70%;
  width: 97%;
  height: 97%;
  gap: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 10px;
}

.caption-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.caption-1 {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  background: linear-gradient(75deg, rgba(168, 240, 229, 1) 0%, rgb(201, 147, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caption-2 {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  background: linear-gradient(75deg, rgb(163, 163, 163) 0%, rgb(198, 198, 198) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar{
  flex: 2;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 40px;
}

.HomeButton-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeButton {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0px;
  gap: 10px;
  color: white;
  background-color: transparent;
  pointer-events: none;
  .HomeButton-img {
    height: 50px;
    width: 50px;
  }
}

.MemoryButton-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MemoryButton {
  width: 100%;
  height: 40px;
  border-radius: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: transparent;
  pointer-events: none;

  .MemoryButton-img {
    height: 35px;
    width: 35px;
  }
}

.conversations-wrapper {
  width: 100%;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.newConversationButton-container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .newConversationButton {
    width: 100%;
    height: 40px;
    border-radius: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-color: transparent;
  }
  .newConversationButton-img {
    height: 28px;
    width: 28px;
  }
}

.conversations-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
  padding-bottom: 30px;
  max-height: 500px;
}

.conversations-container::-webkit-scrollbar {
  scrollbar-width: thin;
  cursor: default;
}

.conversations-container::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

.conversationButton-selected {
  width: 80%;
  height: 50px;
  border-radius: 15px;
  background-color: rgba(164, 206, 255, 0.13);
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.conversationButton-unselected {
  width: 80%;
  height: 50px;
  border-radius: 15px;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.conversationButton-img {
  height: 25px;
  width: 25px;
}

.chat {
  flex: 20;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: transparent;
  width: 80%;
  gap: 30px;
  overflow-x: visible;
}

.chat::-webkit-scrollbar {
  scrollbar-width: thin;
  cursor: default;
}

.chat::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

.userMessageBlockContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100px;
  height: fit-content;
}

.userMessageBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 70%;
  padding: 20px;
  border-radius: 30px;

  background: #dff5f2;
  background: radial-gradient(circle, rgb(194, 244, 238) 0%, rgb(227, 245, 233) 100%);
}

.userMessageBlock a {
  color: dimgray;
}

.AiResponseBlockContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  height: fit-content;
}

.AiResponseBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 70%;
  padding: 20px;
  border-radius: 30px;

  background: #dff5f2;
  background: radial-gradient(circle, rgba(223, 245, 242, 1) 0%, rgba(203, 223, 245, 1) 100%);
}

.AiResponseBlock a {
  color: dimgray;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.input-container {
  flex: 2;
  height: fit-content;
  max-height: fit-content;
  max-width: 90%;
  background: #24252d;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uploadedFiles {
  width: 85%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px;
  margin-bottom: 5px;
  padding: 0;

}

.uploadedFiles li {
  border: black thin dashed;
  list-style-type: none;
  padding-right: 10px;
  padding-left: 10px;
}

.model-wrapper {
  width: 100px;
  padding-left: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #24252d;
  color: white;
  padding: 6px;
  border-radius: 12px;
  font-size: 20px;
}

.model-container select {
  font-size: 17px;
  color: white;
  background: transparent;
  border-color: transparent;
}

.model-container select option{
  font-size: 17px;
  color: white;
  background: #24252d;
  border: none;
}

.textarea {
  resize: none;
  color: white;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  font-size: 17px;
  height: 25px;
  width: 900px;
  padding-left: 20px;
  padding-top: 10px;
}

.textarea::-webkit-scrollbar {
  scrollbar-width: thin;
  cursor: default;
}

.textarea::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

.submitButton-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
  }
  .submitButton-img {
    height: 40px;
    width: 40px;
  }
}

.attachButton-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .attachButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
  }
  .attachButton-img {
    height: 35px;
    width: 35px;
  }
}

.deleteButton {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}