bin/
obj/
*.user
*.suo
*.db
*.cache
*.vs/

appsettings.json
appsettings.Development.json

# ========================
# Miscellaneous
# ========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ========================
# IntelliJ / Android Studio
# ========================
*.iml
*.ipr
*.iws
.idea/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Flutter / Dart / Pub
# ========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.lock
*.g.dart

# Flutter platform folders (eğer sadece Android için geliştiriyorsan)
ios/
macos/
windows/
linux/
web/

# Android build artifacts
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
